/* Base styles */
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
  background: #F5FFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
nav.navbar {
  top: 0;
  width: 100%;
  opacity: 0.9;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-brand {
  padding-left: 1rem;
}

.navbar .dropdown-toggle {
  padding: 0.5rem 1rem;
}


a.navbar-brand,
a.nav-link {
  color: white !important;
}

/* Dropdown */
.dropdown-menu,
.dropdown.show {
  opacity: 1;
  max-width: 100%;
}

a.dropdown-item:hover {
  background-color: #17a2b8;
  color: #ffffff;
  font-weight: bold;
}

/* Layout helpers */
.pad-top {
  padding-top: 60px;
}

.pad-bottom {
  padding-bottom: 60px;
}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  min-width: 300px;
}

/* Typography */
.title {
  margin: 20px 0;
  font-size: 64px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: #23272B;
  font-weight: bold;
}

.about-me-overview {
  margin: 20px 0;
  font-size: 32px;
  text-align: left;
  font-family: "Bebas Neue", sans-serif;
  color: #23272B;
  font-weight: bold;
}

h3 {
  padding-top: 15px;
}

.divider-text {
  color: #DFA4C1;
  font-size: 44px;
  padding: 10px;
}

.bold {
  font-weight: bold !important;
}

/* Timeline */
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date,
.stack,
.link-text {
  color: #7EB9FF;
  font-weight: bold;
}

#description {
  margin: 1.5em 0 2em;
  font-size: 18px;
}

span.vertical-timeline-element-date {
  font-size: 1.2rem !important;
}

/* Buttons */
.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.workButton,
.workButton:hover {
  background-color: #7EB9FF;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

/* Footer */
.footer-text {
  font-size: 12px;
  margin-bottom: 20px;
}

/* Special animations */
.end-cursor:after {
  content: '|';
}

.end-cursor.blinking:after {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .column {
    flex: 100%;
    min-width: 100%;
  }

  .column:nth-child(1) {
    padding-bottom: 0;
  }

  .column:nth-child(2) {
    padding-top: 0;
  }
}

@media (max-width: 700px) {
  span.vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
    font-size: 0.85rem !important;
  }
}

@media (max-width: 600px) {
  h3.vertical-timeline-element-title {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  h5.vertical-timeline-element-subtitle {
    font-size: 1rem;
  }
}

.space-evenly {
  align-items: center;
  justify-content: space-evenly !important;
}

.container .border {
  border-bottom: 2px solid #dfa4c1 !important;
  width: 100%;
}

.vertical-timeline-element-icon img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}