body {
  background: #F5FFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #DFA4C1;
}

.title {
  margin: 20px 0px;
  font-size: 64px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  color: #23272B;
  font-weight: bold;
}

h3 {
  padding-top: 15px;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: #3ed08a;
}

#description {
  margin: 1.5em 0 2em 0;
  font-size: 18px;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: black;
}

.workButton {
  background-color: #06d6a0;
}

.workButton:hover {
  background-color: #0ac593;
}

.schoolButton {
  background-color: #f9c74f;
}

.schoolButton:hover {
  background-color: #f3bc3c;
}

@media only screen and (max-width: 600px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}

.vertical-timeline-element .vertical-timeline-element-date {
  font-size: 20px !important;
}

a.navbar-brand,
a.nav-link {
  color: white !important;
}

.bold {
  font-weight: bold !important;
}

.container {
  display: flex;
  align-items: center;
}

.container .border {
  border-bottom: 2px solid #DFA4C1 !important;
  width: 100%;
}

.container .content {
  padding: 0px 10px;
}

.divider-text {
  color: #DFA4C1;
  font-size: 20px;
}

.divider-text {
  padding: 10px;
}

.space-evenly {
  align-items: center;
  justify-content: space-evenly !important;
}